@import './quasar.variables'

.padding-16
    padding: 16px

.margin-16
    margin: 16px

.font-20
    font-size: 20px

.absolute-x-center
    position: absolute
    top: 0
    left: 50%
    transform: translateX(-50%)

.margin-top-16
    margin-top: 16px

.color-grey-6
    color: $grey-6

.color-grey-4
    color: $grey-4

.font-12
    font-size: 12px

.bottom-border-radius
    border-radius: 0 0 8px 8px

.no-wrap
    white-space: nowrap

.display-inline-block
    display: inline-block

.margin-16-left
    margin-left: 16px

.width-100p
    width: 100%

.width-256
    width: 256px

.song-button
    transition: 0.3s
    background-color: $grey-8

.song-button:hover
    box-shadow: $shadow-24
    transform: translateY(-10px)
